*{
    padding: 0%;
    margin: 0%;
}

.myMargin{
margin: 25px;
border: 1px solid black;
background-color: burlywood;
}
.form{
    float: right;
    
}

.mycarsoul{
    margin:25px;
}